html body {
    background-image: linear-gradient(130deg, #eff6f7, #64c0b7);
    background-size: cover;
    overflow: hidden;
    background-repeat: no-repeat;
    min-height: 100vh;
    height: 100%;
    margin: 0;
}

.full-height {
  min-height: 100vh;
}


.cat-container {
  margin-bottom: -13px; 
  position: relative; 
  z-index: 1; 
}

.cat-image {
  max-width: 150px; 
  height: auto;
  display: inline-block; 
}

.card-panel {
  padding: 24px;
  position: relative; 
  z-index: 999; 
}

#forgot{
  padding-left: 3rem;}
/* راست‌چین کردن لیبل و متن داخل اینپوت */
.input-field label, .input-field input {
    text-align: right !important;
    
}

/* اصلاح جایگاه آیکون و فاصله دادن به متن که زیرش نره */
.input-field .prefix {
    left: auto !important;
    right: 0 !important;
    margin-right: 0 !important;
}

.input-field input {
    width: calc(100% - 3rem) !important;
    margin-right: 3rem !important;
    padding-right: 0 !important;
    box-sizing: border-box !important;
}

.input-field input, 
.input-field label:not(.label-icon) {
    padding-right: 3rem !important;
}

.input-field {
    direction: rtl;
     width: 100% !important;
}

.input-field label {
    right: 1rem !important;
    left: auto !important ;
}